{% extends '../templates/base.html'%}

{% block conteudo %}
            {% for produto in produtos %}
                <div class="main-item">
                    <img class="main-item-img" src="{{produto.image}}">
                    <div class="main-item-desc">
                        <p class="main-item-desc-title">{{produto.titulo}}</p>
                        <p class="main-item-desc-title">{{produto.preco}}</p>
                        <p class="main-item-desc-title">{{produto.tamanhos}}</p>
                    </div>
                </div>
            {% endfor%}
{% endblock %}