{% load static %}
<html lang="pt">

    <head>
        <title>Loja</title>
        {% include './paciais/_head.html' %}
    </head>

    <body class="bg-dark">
        <div class="">
            {% include './paciais/_nav.html'%}
        </div>
        <div class="container">
            <div class="col fluid">
                <div class="row d-felx justify-content-center flex-fill flex-wrap">
                    {% block conteudo %} {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>